/* CLASSI COLORI */

.aqua{
    background-color: #255EE9
}

.yellow{
    background-color: #DAA520;
}

.blue{
    background-color: #00008B;
}

.pink{
    background-color: #EE82EE;
}

.lightblue{
    background-color: #1E90FF;
}

.lightpink{
    background-color: #FFC0CB;
}

.pink2{
    background-color: #F08080;
}

.grey{
    background-color: #F6F6F6;
}

.black{
    background-color: #23272A;
}

.green{
    background-color: #228B22;
}

.lightgreen{
    background-color: #20B2AA;
}

.lightgreen2{
    background-color: #7FFFD4;
}

.white{
    background-color: white;
}

.pink3{
    background-color: #FFB6C1;
}

/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li{
    display: inline-block;
    padding:0 10px;
}

ul li > *{
    text-decoration: none;
}

.container{
    width: 75%;
    margin: 0 auto;
}
/* HEADER */

.header-top > .container{
    display: flex;
    /* justify-content: center;
    align-items: center; */
}

header{     
    background-image: url(/img/jumbo.png);
    background-size: cover;
    min-height: 550px;
}

.header-bottom-container{
    padding: 20px 50px;
}

.header-bottom-container > *{
    text-align: center;
}

h1, p{
    color: white;
    margin-bottom:30px;

}

h1{
    font-size: 45px;
}

.header-text{
    font-size: 30px;
}

nav > ul > li> *{
    /* padding:10px 10px; */
    color: white;
    font-size:16px;
    
}

.button{
    display: inline-block;
    background-color: white;
    border: 15px solid white;
    border-radius: 30px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 20px;
    margin-right: 20px;
}

.button-black{
    background-color: black;
    color: white;
    border: 15px solid black;
}

.button-mac{
    color:white;
    background-color: #7289DA;
    border: 15px solid #7289DA;
    margin: 25px 0;
}

i{
    font-size: 20px;
}

img{
    width:100px;

}

.box{
    border: 1px dashed black;
}

.logo, .link, .login{
    padding: 10px 0px;
}

nav > ul{
    padding-top: 15px;
}

.logo > img{
    width:100%
}

.logo{
    width: 15%
}

.login{
    text-align: right;
    width: 15%;
}

.link{
    width: 70%;
    text-align: center;
}

/* FINE HEADER ALLELUIA */

/* INIZIO MAIN */

.first-row, .second-row, .third-row, .four-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.first-row > .col1 > img {
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

h2{
    font-size: 48px;
    font-weight: 700;
    color: black;
    padding:10px;
}

.row-txt{
    font-size:medium;
    color: black;
    padding: 15px;
    margin-top:5px;
}

.row-image{
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

section{
    padding:20px 0;
}

.col1, .col2{
    /* min-height: 500px; */
}

.col1{
    width: 45%;
}

.col2{
    width: 30%;
}

.col3{
    width: 75%;
    text-align: center;
}

.stars{
    background-image: url(/img/stars.svg);
    background-size: contain;
    background-position: 50%;
    line-height: 40px;
    width: 70%;
    margin:0 auto;
}

/* FINE MAIN */


/* INIZIO FOOTER */
.footer1{
    border-bottom: 1px solid white;
    padding: 10px 0;
}

.my-col1{
    width:calc((75% / 6) * 2);
    min-height: 300px;
}

.col{
   width: 25%;
   min-height: 300px;
}

.my-col2{
    width: calc((75% / 6) * 4);
    min-height: 300px;
}

.footer1, .my-col2{
    display: flex;
    justify-content: center;
}

.footer2{
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.footer2 > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    width: 75%;
}

.footer2 > div > div{
    padding: 5px;
}